.navcolor{
	background-image: linear-gradient(to right, #030724, #051c7d);
}

.txtcolor{
	color: white;
	text-decoration: none;
	margin-left: 40px;
	font-family: "great";
	font-size: 24px;
}
.screen{
	padding: 60px 460px;
	text-align: center;
	font-size: 24px;

}
<<<<<<< HEAD
=======
<<<<<<< HEAD
#animate:hover{
	
	transform: translate(5px,-5px);
	transition-duration: .3s;

}
/*logo animation*/
/*body {background:#2b9090;}*/
.logo {
  display: block;
  width: 60px;
  height: 50px;
  margin: 20px auto;
}
.snow {
	position: absolute;
	display: block;
	width: 70px;
	top:0;
	left: 3%;
}
.flake1 {
	position: relative;
	width:2px;
	height:2px;
	background: white;
	opacity: 0;
	transform-origin:0px 0px;
	animation-name: Snow;
	animation-duration:2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
.flake2 {
	position: relative;
	left:5px;
	width:2px;
	height:2px;
	background: white;
	opacity: 0;
	transform-origin:0px 0px;
	animation-name: Snow;
	animation-duration:2.7s;
	animation-delay:0.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
.flake3 {
	position: relative;
	left:-10px;
	width:2px;
	height:2px;
	background: white;
	opacity: 0;
	transform-origin:0px 0px;
	animation-name: Snow;
	animation-duration:2.3s;
	animation-delay:0.4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
.flake4 {
	position: relative;
	left:25px;
	width:2px;
	height:2px;
	background: white;
	opacity: 0;
	transform-origin:0px 0px;
	animation-name: Snow;
	animation-duration:2.7s;
	animation-delay:0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
.flake5 {
	position: relative;
	left:-25px;
	width:2px;
	height:2px;
	background: white;
	opacity: 0;
	transform-origin:0px 0px;
	animation-name: Snow;
	animation-duration:2.4s;
	animation-delay:1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
  
}
.flake6 {
	position: relative;
	left:9px;
	width:2px;
	height:2px;
	background: white;
	opacity: 0;
	transform-origin:0px 0px;
	animation-name: Snow;
	animation-duration:2.7s;
	animation-delay:1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
.flake7 {
	position: relative;
	left:-15px;
	width:2px;
	height:2px;
	background: white;
	opacity: 0;
	transform-origin:0px 0px;
	animation-name: Snow;
	animation-duration:2.2s;
	animation-delay:1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
.flake8 {
	position: relative;
	left:35px;
	width:2px;
	height:2px;
	background: white;
	opacity: 0;
	transform-origin:0px 0px;
	animation-name: Snow;
	animation-duration:2.7s;
	animation-delay:1.4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes Snow {
0% {
transform:translateY(0px);
  opacity:0;
}
50% {
  transform:translateY(25px);
  opacity: 1;
}
  100% {
  transform:translateY(45px);
  opacity: 0.3;
}
}
/*sign in*/

.sign_in{
  display: block;
  width: 90px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
 
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

.sign_in:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /*background: #ff003b;*/
  background: #fac507;
  transition: all .35s;
}

.sign_in:hover{
  color: #fff;
}

.sign_in:hover:after{
  width: 100%;
}

=======
>>>>>>> dfac48c47af96012cc0668d0892508838daa56dd
>>>>>>> 04134e3b56a222e047283323ce16a746bf177735
>>>>>>> 59bb921f1803dfc51c122769e8e5df3b768c5fc2

@font-face{

	src:url("Playball/Playball-Regular.ttf");
	font-family: "great";
}

.foot_color{
<<<<<<< HEAD
=======
<<<<<<< HEAD
	background-color: #191b1c;
=======
<<<<<<< HEAD
>>>>>>> 59bb921f1803dfc51c122769e8e5df3b768c5fc2
	
	background-image: linear-gradient(to right, #04091f, #030724, #051c7d);
	background-color: #21294a;
<<<<<<< HEAD
=======
>>>>>>> dfac48c47af96012cc0668d0892508838daa56dd
>>>>>>> 04134e3b56a222e047283323ce16a746bf177735
>>>>>>> 59bb921f1803dfc51c122769e8e5df3b768c5fc2
}
.foot_text{
	color: white;
	font-family: "great";
	font-size: 18px;

}

.linerarg{
	
	background-image: linear-gradient(to right, #04091f, #030724, #051c7d);

}



a.change_color{
	padding: 30px 30px;
	text-align: center;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
}
/*payment*/
.pay{
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px #c98d2c;
}
.card_change:hover{
	transform: translate(7px,-7px);
	transition-duration: .5s;

}


.cardstyle1:hover,
.cardstyle2:hover,
.cardstyle3:hover,
.cardstyle4:hover,
.cardstyle5:hover,
.cardstyle6:hover{
	color: #c98d2c;
	transform: translate(7px,-7px);
	transition-duration: .5s;

}

.linerarg{
	
	background-image: linear-gradient(to right, #04091f, #030724, #051c7d);

}
body{
	background: #262626;
}
.team-area{
	padding-top: 5%;
}
.single-team{
	background-color: #000;
	margin-bottom: 10px;
}
.single-team:hover .social{
	cursor: pointer;
	opacity: 1;
	transform: rotateY(0deg) scale(1,1);
}
.img-area{
	overflow: hidden;
	position: relative;
}
.img-area img{
	width: 100%;
}
.img-area:hover img{
	transform: scale(1.2);
}
.img-area img{
	transition: all 0.4s ease 0s;
}
@media (max-width: 768px){
	.img-area img{
		display: inline-block;
	}
}
.img-area .social{
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	transition: .5s;
	transform: rotateY(180deg) scale(0.5,0.5);
}
.img-area .social ul{
	text-align: center;
	position: relative;
	top: 175px;
}
.img-area .social ul li a{
	border: 1px solid #fff;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
}
.img-area .social ul li a:hover{
	background-color: #fff;
	color: #000;
	border: 1px solid transparent;
}
.img-text{
	padding: 25px;
	color: #fff;
	text-align: center;
}
.img-text h4{
	margin: 0 0 5px;
	font-size: 30px;
	font-family: bignoodleitling;
	letter-spacing: 5px;
}
.img-text h5{
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
}
<<<<<<< HEAD

/*about*/


.abouts{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content:center;
	align-items: center;
	min-height: 100vh;
	flex-wrap: space-around;
	width: 1000px;
	transform-style: preserve-3d;
}
.abouts .box{
	position: relative;
	width: 300px;
	height: 400px;
	margin:20px 0;
	perspective: 1000px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.abouts .box:hover .imgBx{
	transform: rotateX(-90deg);
	opacity: 0;
	transition-delay: 0.2s;
}

.abouts .box .imgBx{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transform-origin: top;
	transform-style: preserve-3d;
	transition: 0.5s;
}
.abouts .box .imgBx img{
	/*position: absolute;*/
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
	object-fit: cover;
}
.abouts .box .contentBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	position: 40px;
	transform-origin: bottom;
	transform-style: preserve-3d;
	transition: 0.5s;
	transform: rotateX(90deg);
	opacity: 0;
	color: #fff;
}
.abouts .box:hover .contentBx{
	transform: rotateX(0deg);
	opacity: 1;
	transition-delay: 0.2s;
}
.box{
	pointer: cursor;
}
=======
<<<<<<< HEAD

/*seat color*/
.change_color:active{
		background-color: green;
}
=======
>>>>>>> dfac48c47af96012cc0668d0892508838daa56dd
>>>>>>> 04134e3b56a222e047283323ce16a746bf177735
>>>>>>> 59bb921f1803dfc51c122769e8e5df3b768c5fc2
